<% unless current_user.is_a? GuestUser %>
  <%= form_for @comment, url: '#' do |f| %>
    <div class="form-group">
      <%= f.label :conten %>
      <%= f.text_area :content, class: 'form-control', placeholder: 'Content' %>
    </div>
    
    <%= f.submit 'Post Comment', class: 'btn btn-success'%>
  <% end %>
<% end %>