<h1>About me</h1>

<p>
  <i>"It's fine to celebrate success but it is more important to heed the lessons of failure."</i>
</p>

<p>
  - Bill Gates
</p>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "https://dncache-mauganscorp.netdna-ssl.com/thumbseg/238/238745-bigthumbnail.jpg", width: 300, alt: "A Kitten Sleeping on a Guitar" %> 
  </div>
  
  <div class="col-md-8">
    <p>
  It is my belief that no one understands the purpose or idea of life as well as we gods do. After all, we are the creators of worlds and bringers of destruction, we bring death and breathe life. So we learn to live it as much as we can, until our own end comes. We can not die of physical things, that much is plain. We die when there is no one left to follow us, for that is our purpose. Our point. We only exist to guide, lead, or threaten. When the humans, the othrodos, the extalians,  believe in something, we gods appear. And when they no longer trust us, believe that we exist at all, then we die.
</p>

<p>
   Of course, there are exceptions, those truths that never die, the two constants that will never disappear. Lady Death, who shifts but is always there, beautiful and young and quiet but comforting, and Life, who is only called Life, who's often loud and outspoken and empathetic. But they are the exceptions. And as the empires rise and fall, so do we. And that's where our story will begin. At the fall of a great empire and a great god and the new gods that followed.
</p>
  </div>
  
</div>
<%= link_to "Contact Me", contact_path, class: 'nav-link' %>
