<h1>About me</h1>
<p><i>"It's fine to celebrate success but it is more important to heed the lessons of failure."</i></p>
<p>- Bill Gates</p>
<hr>
<p>I think its important to look at life and think about what's important to you. What's something you can't live without? What do you believe? Where will you be in ten years? We live in a world with endless possibilties and if you don't sort out what's important to you, you won't know which direction to go. But, I also think that you have to be willing to change when you need to, to look at things in a different way then you did yesterday.</p>
 <p> I have a wide array of interests varying from politics and public speaking, to chemistry and computer programming, and while I am inexperienced, I am eager to learn all that I can. I am currently enrolled in Jordan Highschool with a 3.9 GPA, and I am a member of the speech and debate team. I really enjoy debate beacuse it helps you see both sides of an argument, you have to know that not everything is black and white. And I adore speech because it teaches you to be compelling, to think things through, but also to be creative and get your voice out there. </p>
<%= link_to "Contact Me", contact_path, class: 'nav-link' %>
