<div class="inner cover">
  <h1 class="cover-heading">Welcome to My Domain.</h1>
  <p class="lead"><i>"Do not confine your children to your own learning, for they were born in another time."</i> - Chinese Proverb</p>
   <p class="lead">I believe that if we want this world to become a better place we have to acknowledge that people are different, with different ideas and opinions. And while we may not always agree or get along, its important to acknowledge people's ideas so that we can move forward. After all, its only human to advance, to push forward. Wether in technology, politics, or simply in our own pearsonal lives.</p>
  <p class="lead">
    <%= link_to "Learn More", about_me_path, class: "btn btn-lg btn-secondary" %> 
  </p>
</div>

