<div class="inner cover">
  <h1 class="cover-heading">Welcome to My Domain.</h1>
  <hr>
   <p class="lead">It is common knowledge that everything that lives must die, and to compensate, nature will replace that which is gone. Lost. We gods are no different. While it is true we will not die to a blade, that does not mean that our time will end. And we all strive to find a purpose, an idea of life. And it is my belief that no one understands the purpose or idea of life as well as we gods do.
</p>
  <hr>
  <p class="lead"><i>"Do not confine your children to your own learning, for they were born in another time."</i></p> 
  <p> - a Chinese Proverb</p>
   <p class="lead">
    <%= link_to "Learn More", about_me_path, class: "btn btn-lg btn-secondary" %> 
  </p>
</div>

